@model IEnumerable<WebApplication10.Models.Person>

@{
    ViewBag.Title = "Index";
}

<h2>Select User</h2>


<select name="İsim" id="name">
    <option value="">İsim seciniz</option>

</select>
<br />
<br />

<input id="Button1" type="button" value="login" />

@section scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
              $('#Button1').click(function(){ 
                 // alert($('#name :selected').text());
                  document.location = '@Url.Action("login","Person")';
              });
            $.ajax({
                url: 'https://api.myjson.com/bins/14dj1q',
                type: 'GET',
                dataType: 'json',
                success: function (result) {
                    var i, x = "";
                    for (i in result.people) {
                        x = result.people[i].name;
                        //x += result.people[i].id + "<br>";
                        $("#name").append("<option value='" + result.people[i]["id"] + "'>" + result.people[i]["name"] + "</option>");
                    }
                    //var conceptName = $('#name').find(":selected").text();



                }
            });
                    var conceptName = $('#name').val();
                   // alert(conceptName+"*");
                    console.log(conceptName);

        });


    </script>

}


