<div class="modal" ng-controller="KisBpmFlowConditionDescriptionPopupCtrl">
    <div class="modal-dialog modal-wide">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                        ng-click="close()">&times;</button>
                <h2>{{'PROPERTY.PROPERTY.EDIT.TITLE' | translate:property}}</h2>
            </div>
            <div class="modal-body">

                <div class="row row-no-gutter" ng-if="formVisible">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="prevTaskField">{{'PROPERTY.FLOWCONDITION.PREVTASK' | translate}}</label>
                            <input id="prevTaskField" class="form-control" type="text" ng-model="description.prevTaskId"
                                   ng-disabled="true"/>

                        </div>
                        <div class="form-group">
                            <label for="outcomeField">{{'PROPERTY.FLOWCONDITION.OUTCOME' | translate}}</label>
                            <select id="outcomeField"
                                    class="form-control"
                                    ng-options="outcome.name as outcome.name for outcome in outcomes"
                                    ng-model="description.outcome">
                                <option value="">{{'PROPERTY.FLOWCONDITION.OUTCOME.NOT_SELECTED' | translate}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="operationField">{{'PROPERTY.FLOWCONDITION.OPERATION' | translate}}</label>
                            <select id="operationField"
                                    class="form-control"
                                    ng-model="description.operation">
                                <option value="==">==</option>
                                <option value="<>">!=</option>
                                <option value=">">&gt;</option>
                                <option value="<">&lt;</option>
                                <option value=">=">&gt;=</option>
                                <option value="<=">&lt;=</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="countField">{{'PROPERTY.FLOWCONDITION.COUNT' | translate}}</label>
                            <input id="countField" class="form-control" type="text" ng-model="description.count"
                                   placeholder="{{'PROPERTY.FLOWCONDITION.COUNT.PLACEHOLDER' | translate }}"/>
                        </div>
                    </div>
                </div>
                <div ng-if="!formVisible">
                    <h3>{{'PROPERTY.FLOWCONDITION.NOT_AVAILABLE' | translate }}</h3>
                </div>
            </div>
            <div class="modal-footer" ng-if="formVisible">
                <button ng-click="cancel()" class="btn btn-primary" translate>ACTION.CANCEL</button>
                <button ng-click="save()" class="btn btn-primary" translate>ACTION.SAVE</button>
            </div>
        </div>
    </div>
</div>