
<div class="modal" ng-controller="KisBpmTaskOutcomesPopupCtrl">
    <div class="modal-dialog modal-wide">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button>
                <h2>{{'PROPERTY.PROPERTY.EDIT.TITLE' | translate:property}}</h2>
            </div>
            <div class="modal-body">

                <div class="row row-no-gutter">
                    <div class="col-xs-6">
                        <div ng-if="translationsRetrieved" class="default-grid" ng-grid="gridOptions"></div>
                        <div class="clearfix">
                            <div class="btn-group pull-right">
                                <a class="btn btn-icon btn-lg" rel="tooltip" data-title="{{'ACTION.MOVE.UP' | translate}}" data-placement="bottom" data-original-title="" title="" ng-click="moveOutcomeUp()"><i class="glyphicon glyphicon-arrow-up"></i></a>
                                <a class="btn btn-icon btn-lg" rel="tooltip" data-title="{{'ACTION.MOVE.DOWN' | translate}}" data-placement="bottom" data-original-title="" title="" ng-click="moveOutcomeDown()"><i class="glyphicon glyphicon-arrow-down"></i></a>
                            </div>
                            <div class="btn-group pull-right">
                                <a class="btn btn-icon btn-lg" rel="tooltip" data-title="{{'ACTION.ADD' | translate}}" data-placement="bottom" data-original-title="" title="" ng-click="addNewOutcome()"><i class="glyphicon glyphicon-plus"></i></a>
                                <a class="btn btn-icon btn-lg" rel="tooltip" data-title="{{'ACTION.REMOVE' | translate}}" data-placement="bottom" data-original-title="" title="" ng-click="removeOutcome()"><i class="glyphicon glyphicon-minus"></i></a>
                            </div>
                        </div>
                        <div class="row row-no-gutter " ng-show="selectedOutcomes.length > 0">
                            <div class="form-group">
                                <label for="nameField">{{'PROPERTY.TASKOUTCOMES.NAME' | translate}}</label>
                                <input id="nameField" class="form-control" type="text" ng-model="selectedOutcomes[0].name" placeholder="{{'PROPERTY.TASKOUTCOMES.NAME.PLACEHOLDER' | translate }}" />

                                <label for="formField">{{'PROPERTY.TASKOUTCOMES.FORM' | translate}}</label>
                                <select id="formField"
                                        class="form-control"
                                        ng-model="selectedOutcomes[0].form.name"
                                        ng-options="form.name as form.caption for form in formDescriptions">
                                    <option value="">{{'PROPERTY.TASKOUTCOMES.FORM.NOT_SELECTED' | translate}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6" ng-if="selectedOutcomes.length > 0">
                        <span>{{'PROPERTY.TASKOUTCOMES.FORM.PARAMS' | translate:property}}</span>

                        <div class="default-grid" ng-grid="propertiesGridOptions"></div>
                        <div class="clearfix">
                            <div class="btn-group pull-right">
                                <a class="btn btn-icon btn-lg" rel="tooltip" data-title="{{'ACTION.ADD' | translate}}" data-placement="bottom" data-original-title="" title="" ng-click="addNewFormProperty()"><i class="glyphicon glyphicon-plus"></i></a>
                                <a class="btn btn-icon btn-lg" rel="tooltip" data-title="{{'ACTION.REMOVE' | translate}}" data-placement="bottom" data-original-title="" title="" ng-click="removeFormProperty()"><i class="glyphicon glyphicon-minus"></i></a>
                            </div>
                        </div>
                        <div ng-show="selectedFormParams.length > 0">
                            <div class="form-group">
                                <label for="formParamNameField">{{'PROPERTY.TASKOUTCOMES.FORM.PARAM.NAME' | translate}}</label>
                                <select id="formParamNameField"
                                        class="form-control"
                                        ng-model="selectedFormParams[0].name"
                                        ng-options="param.name as param.name for param in currentFormDescription.params"
                                        ng-change="setDefaultParamValue()">
                                    <option value="">{{'PROPERTY.TASKOUTCOMES.PARAM.NAME.NOT_SELECTED' | translate}}</option>
                                </select>

                                <label for="formParamValueField">{{'PROPERTY.TASKOUTCOMES.FORM.PARAM.VALUE' | translate}}</label>
                                <input id="formParamValueField" class="form-control" type="text" ng-model="selectedFormParams[0].value" placeholder="{{'PROPERTY.TASKOUTCOMES.FORM.PARAM.VALUE.PLACEHOLDER' | translate }}" />
                            </div>
                        </div>

                        <!--<div ng-show="selectedProperties.length == 0" class="muted no-property-selected" translate>PROPERTY.FORMPROPERTIES.EMPTY</div>-->
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button ng-click="cancel()" class="btn btn-primary" translate>ACTION.CANCEL</button>
                <button ng-click="save()" class="btn btn-primary" translate>ACTION.SAVE</button>
            </div>
        </div>
    </div>
</div>
