@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        form {
            border: 3px solid #f1f1f1;
        }

        input[type=text], input[type=password], select {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        button {
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }

            button:hover {
                opacity: 0.8;
            }

        .cancelbtn {
            width: auto;
            padding: 10px 18px;
            background-color: #f44336;
        }

        .imgcontainer {
            text-align: center;
            margin: 24px 0 12px 0;
        }

        img.avatar {
            width: 40%;
            border-radius: 50%;
        }

        .container {
            padding: 16px;
        }

        span.psw {
            float: right;
            padding-top: 16px;
        }
    </style>
</head>

<body>

    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
    {
        <h2><span style="color:darkolivegreen;font-weight:bold">Select User</span></h2>
        <div class="container">
            <label for="uname"><span style="color:darkolivegreen;font-weight:bold"><b>Username</b></span></label>
            <select name="İsim" id="name">
                <option value="">Select User</option>

            </select>
            <br>
            <label for="psw"><span style="color:darkolivegreen;font-weight:bold"><b>Password</b></span></label>
            <input type="password" placeholder="Enter Password" name="psw" required>

            @Html.Hidden("Name", "", new { @id = "Name" })


            <button type="submit">Login</button>
            <div class="container" style="background-color:#f1f1f1">
                <button type="button" class="cancelbtn">Cancel</button>
                <span class="psw">Forgot <a href="#">password?</a></span>
            </div>

        </div>


    }
</body>
</html>



<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        var id;


        $("#name").change(function () {
            // var id = $(this).find('option:selected').attr('id');
            //

            id = $(this).val(); // alert(id);
            $("#Name").val(id);
        });
        $.ajax({
            url: 'https://api.myjson.com/bins/14dj1q',
            type: 'GET',
            dataType: 'json',
            success: function (result) {
                var i, x = "";
                for (i in result.people) {
                    x = result.people[i].name;
                    //x += result.people[i].id + "<br>";
                    $("#name").append("<option value='" + result.people[i].id + "'>" + result.people[i].name + "</option>");
                }




            }
        });


    });


</script>
